<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Food List</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/food-list.css}">
</head>

<body>

<div class="page">

    <!-- HEADER -->
    <div th:replace="~{fragments/header :: header}"></div>

    <!-- MAIN -->
    <div class="main-layout">

        <!-- LEFT SIDEBAR -->
        <div th:replace="~{fragments/left-sidebar :: left-sidebar}"></div>

        <!-- CONTENT -->
        <main class="main-content">

            <h1 class="title">
                СПИСОК ПРОДУКТОВ
            </h1>

            <div class="food-list">

                <div
                        class="food"
                        th:each="food : ${foods}"
                >
                    <div
                            class="food-list-column food-list-column-1"
                            th:text="${food.name}"
                    ></div>

                    <div
                            class="food-list-column food-list-column-2"
                            th:text="${food.brand}"
                    ></div>

                    <div
                            class="food-list-column food-list-column-3"
                            th:text="${food.calories}"
                    ></div>

                    <div
                            class="food-list-column food-list-column-4"
                            th:text="${food.protein}"
                    >
                        Белки
                    </div>

                    <div
                            class="food-list-column food-list-column-5"
                            th:text="${food.fats}"
                    >
                        Жиры
                    </div>

                    <div
                            class="food-list-column food-list-column-6"
                            th:text="${food.carbohydrates}"
                    >
                        Углеводы
                    </div>

                </div>
            </div>
        </main>

        <!-- RIGHT SIDEBAR -->
        <div th:replace="~{fragments/right-sidebar :: right-sidebar}"></div>

    </div>

    <!-- FOOTER -->
    <div th:replace="~{fragments/footer :: footer}"></div>

</div>

</body>
</html>